
@{
    ViewData["Title"] = "QLCuaHang";
}

<h1>QLCuaHang</h1>
<a asp-controller="giay" asp-action="giay" class="primary-btn">Quản lí sản phẩm</a>
<br></br>
<a asp-controller="giay" asp-action="ShowUpDate" class="primary-btn">Lịch sử sửa chữa</a>
<br></br>

