
@{
    ViewData["Title"] = "GioHang";
}

<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="ds in lstGioHang" ng-init="total = 0">
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="{{ds.img}}" alt="" style="height: 100px" />
                                    <h5>{{ds.ten}}</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    <span ng-model="ds.gia">${{ds.gia}}</span>
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <a href="" ng-click="quantity_tru(ds, $index)">-</a>
                                            <input disabled
                                                   type="text"
                                                   ng-model="ds.soLuong"
                                                   ng-change="updateTotal()"
                                                   value="{{ds.soLuong}}" />
                                            <a href="" ng-click="quantity_cong(ds, $index)">+</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">${{ds.gia * ds.soLuong}}</td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"
                                          ng-click="deleteProductCart(ds.id)"></span>
                                </td>
                                <td><button ng-click="deleteGioHang(ds.id)">Xóa</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-controller="shop" asp-action="shop" class="primary-btn">CONTINUE SHOPPING</a>
                    <a href=""
                       ng-click="updateTotal()"
                       class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span> Upadate Cart</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code" />
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span ng-bind="total"></span><span>$</span></li>
                        <li>Total <span ng-bind="total"></span><span>$</span></li>
                    </ul>
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->


