
@{
    ViewData["Title"] = "QL";
}

<h1>QL</h1>

<a asp-controller="giay" asp-action="giay" class="primary-btn">Quản lí sản phẩm</a>

<a asp-controller="giay" asp-action="ShowUpDate" class="primary-btn">Lịch sử sửa chữa</a>
<br></br>
<a asp-controller="NhanVien" asp-action="QLNhanVien" class="primary-btn">Quản lí nhân viên</a>

<a asp-controller="KhachHang" asp-action="QLKhanhHangs" class="primary-btn">Quản lí khánh hàng</a>
<br></br>